/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
  /** primary **/
  --ion-color-primary: #007dc5;
  --ion-color-primary-rgb: 1,102,175;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #015a9a;
  --ion-color-primary-tint: #1a75b7;

  /** secondary **/
  --ion-color-secondary: #00a550;
  --ion-color-secondary-rgb: 2,168,82;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #029448;
  --ion-color-secondary-tint: #1bb163;

  /** tertiary **/
  --ion-color-tertiary: #f0f7ee;
  --ion-color-tertiary-rgb: 240,247,238;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d3d9d1;
  --ion-color-tertiary-tint: #f2f8f0;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** vigilance **/
  --ion-color-vigilance: #a3ded2;
  --ion-color-vigilance-rgb: 163,222,210;
  --ion-color-vigilance-contrast: #084b3f;
  --ion-color-vigilance-contrast-rgb: 8,75,63;
  --ion-color-vigilance-shade:  #a3ded2;
  --ion-color-vigilance-tint:  #a3ded2;      
  
  /** management **/
  --ion-color-management: #bf9746;
  --ion-color-management-rgb: 191,151,70;
  --ion-color-management-contrast: #684500;
  --ion-color-management-contrast-rgb: 139,93,0;
  --ion-color-management-shade: #a8853e;
  --ion-color-management-tint: #c5a159;  

  /** education **/ 
  --ion-color-education: #ded8a3;
  --ion-color-education-rgb: 222,216,163;
  --ion-color-education-contrast: #575517;
  --ion-color-education-contrast-rgb: 87,85,23;
  --ion-color-education-shade: #c3be8f;
  --ion-color-education-tint: #e1dcac;    
  
  /** woods **/ 
  --ion-color-woods: #a3ccba;
  --ion-color-woods-rgb: 163,204,186;
  --ion-color-woods-contrast: #16562e;
  --ion-color-woods-contrast-rgb: 22,86,46;
  --ion-color-woods-shade: #8fb4a4;
  --ion-color-woods-tint: #acd1c1;
  
  /** hydric **/
  --ion-color-hydric: #a3d2d3;
  --ion-color-hydric-rgb: 163,210,211;
  --ion-color-hydric-contrast: #003447;
  --ion-color-hydric-contrast-rgb: 0,52,71;
  --ion-color-hydric-shade: #8fb9ba;
  --ion-color-hydric-tint: #acd7d7;    
  
  /** biodiversity **/
  --ion-color-biodiversity: #aedea6;
  --ion-color-biodiversity-rgb: 174,222,166;
  --ion-color-biodiversity-contrast: #044a06;
  --ion-color-biodiversity-contrast-rgb: 4,74,6;
  --ion-color-biodiversity-shade: #99c392;
  --ion-color-biodiversity-tint: #b6e1af;
  
  /** territory **/
  --ion-color-territory: #fca168;
  --ion-color-territory-rgb: 252,161,104;
  --ion-color-territory-contrast: #9a0000;
  --ion-color-territory-contrast-rgb: 154,0,0;
  --ion-color-territory-shade: #de8e5c;
  --ion-color-territory-tint: #fcaa77;
  
  
  
  /** business **/
  --ion-color-business: #a0dbc0;
  --ion-color-business-rgb: 160,219,192;
  --ion-color-business-contrast: #024825;
  --ion-color-business-contrast-rgb: 2,72,37;
  --ion-color-business-shade: #8dc1a9;
  --ion-color-business-tint: #aadfc6;
  
  
  
  /** economy **/
  --ion-color-economy: #abbac7;
  --ion-color-economy-rgb: 171,186,199;
  --ion-color-economy-contrast: #021e49;
  --ion-color-economy-contrast-rgb: 2,30,73;
  --ion-color-economy-shade: #96a4af;
  --ion-color-economy-tint: #b3c1cd;
  
  
  
  /** header **/
  --ion-color-header: #1ea650;
  --ion-color-header-rgb: 30,166,80;
  --ion-color-header-contrast: #ffffff;
  --ion-color-header-contrast-rgb: 255,255,255;
  --ion-color-header-shade: #1a9246;
  --ion-color-header-tint: #35af62;
  
  
  
  /** weather **/
  --ion-color-weather: #dea3a3;
  --ion-color-weather-rgb: 222,163,163;
  --ion-color-weather-contrast: #480100;
  --ion-color-weather-contrast-rgb: 72,1,0;;
  --ion-color-weather-shade: #c38f8f;
  --ion-color-weather-tint: #e1acac;
  
}

.ion-color-management {
  --ion-color-base: var(--ion-color-management);
  --ion-color-base-rgb: var(--ion-color-management-rgb);
  --ion-color-contrast: var(--ion-color-management-contrast);
  --ion-color-contrast-rgb: var(--ion-color-management-contrast-rgb);
  --ion-color-shade: var(--ion-color-management-shade);
  --ion-color-tint: var(--ion-color-management-tint);
}

.ion-color-education {
  --ion-color-base: var(--ion-color-education);
  --ion-color-base-rgb: var(--ion-color-education-rgb);
  --ion-color-contrast: var(--ion-color-education-contrast);
  --ion-color-contrast-rgb: var(--ion-color-education-contrast-rgb);
  --ion-color-shade: var(--ion-color-education-shade);
  --ion-color-tint: var(--ion-color-education-tint);
}
  
.ion-color-woods {
  --ion-color-base: var(--ion-color-woods);
  --ion-color-base-rgb: var(--ion-color-woods-rgb);
  --ion-color-contrast: var(--ion-color-woods-contrast);
  --ion-color-contrast-rgb: var(--ion-color-woods-contrast-rgb);
  --ion-color-shade: var(--ion-color-woods-shade);
  --ion-color-tint: var(--ion-color-woods-tint);
}

.ion-color-vigilance {
  --ion-color-base: var(--ion-color-vigilance);
  --ion-color-base-rgb: var(--ion-color-vigilance-rgb);
  --ion-color-contrast: var(--ion-color-vigilance-contrast);
  --ion-color-contrast-rgb: var(--ion-color-vigilance-contrast-rgb);
  --ion-color-shade: var(--ion-color-vigilance-shade);
  --ion-color-tint: var(--ion-color-vigilance-tint);
}

.ion-color-weather {
  --ion-color-base: var(--ion-color-weather);
  --ion-color-base-rgb: var(--ion-color-weather-rgb);
  --ion-color-contrast: var(--ion-color-weather-contrast);
  --ion-color-contrast-rgb: var(--ion-color-weather-contrast-rgb);
  --ion-color-shade: var(--ion-color-weather-shade);
  --ion-color-tint: var(--ion-color-weather-tint);
}

.ion-color-header {
  --ion-color-base: var(--ion-color-header);
  --ion-color-base-rgb: var(--ion-color-header-rgb);
  --ion-color-contrast: var(--ion-color-header-contrast);
  --ion-color-contrast-rgb: var(--ion-color-header-contrast-rgb);
  --ion-color-shade: var(--ion-color-header-shade);
  --ion-color-tint: var(--ion-color-header-tint);
}

.ion-color-economy {
  --ion-color-base: var(--ion-color-economy);
  --ion-color-base-rgb: var(--ion-color-economy-rgb);
  --ion-color-contrast: var(--ion-color-economy-contrast);
  --ion-color-contrast-rgb: var(--ion-color-economy-contrast-rgb);
  --ion-color-shade: var(--ion-color-economy-shade);
  --ion-color-tint: var(--ion-color-economy-tint);
  }

.ion-color-business {
  --ion-color-base: var(--ion-color-business);
  --ion-color-base-rgb: var(--ion-color-business-rgb);
  --ion-color-contrast: var(--ion-color-business-contrast);
  --ion-color-contrast-rgb: var(--ion-color-business-contrast-rgb);
  --ion-color-shade: var(--ion-color-business-shade);
  --ion-color-tint: var(--ion-color-business-tint);
}

.ion-color-territory {
  --ion-color-base: var(--ion-color-territory);
  --ion-color-base-rgb: var(--ion-color-territory-rgb);
  --ion-color-contrast: var(--ion-color-territory-contrast);
  --ion-color-contrast-rgb: var(--ion-color-territory-contrast-rgb);
  --ion-color-shade: var(--ion-color-territory-shade);
  --ion-color-tint: var(--ion-color-territory-tint);
}

.ion-color-biodiversity {
  --ion-color-base: var(--ion-color-biodiversity);
  --ion-color-base-rgb: var(--ion-color-biodiversity-rgb);
  --ion-color-contrast: var(--ion-color-biodiversity-contrast);
  --ion-color-contrast-rgb: var(--ion-color-biodiversity-contrast-rgb);
  --ion-color-shade: var(--ion-color-biodiversity-shade);
  --ion-color-tint: var(--ion-color-biodiversity-tint);
}

.ion-color-hydric {
  --ion-color-base: var(--ion-color-hydric);
  --ion-color-base-rgb: var(--ion-color-hydric-rgb);
  --ion-color-contrast: var(--ion-color-hydric-contrast);
  --ion-color-contrast-rgb: var(--ion-color-hydric-contrast-rgb);
  --ion-color-shade: var(--ion-color-hydric-shade);
  --ion-color-tint: var(--ion-color-hydric-tint);
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
